<!-- Django FPGA Interaction demo application - DisplayTemplate.html -->
<!DOCTYPE HTML>
<html>
  <head>
    <!--Load the ploty Library script -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <meta charset="utf-8">
    </script>
    <title>rsYocto Django Demo</title>
  </head>
  <body>
    <center>
    <p><embed src="https://raw.githubusercontent.com/robseb/rsyocto/rsYocto-1.03/doc/symbols/rsYoctoLogo.jpg?raw=true" width="300" height="120" title="rsYocto Logo" /></p>
    <h2>Simple Django demo application for using a web interface to control and access the FPGA fabric</h2>
    <br>
    <!--Load the ploty UI-->
    <h3>FPGA IP data plot </h3>

    {% autoescape off %}
    {{ plot_div }}
    {% endautoescape %}
    <br>  

    <!--Show the FPGA Configuration File upload box-->
    <h3>Chnage the FPGA Configuration </h3>
    <form action="{% url 'main' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <p>{{ form.non_field_errors }}</p>
          <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
          <p>
              {{ form.docfile.errors }}
              {{ form.docfile }}
          </p>
          <p><input type="submit" value="Upload"/></p>
      </form>
        <!--Show the FPGA Configuration File upload box-->
      <br>
      <h3>FPGA configuration manager </h3>
      <h4>List of all saved FPGA configuration files</h4>
      {% if documents %}
      <ul>
        <table  border="1">
          <tr>
            <th>File Name</th>
            <th>Upload Date</th>
            <th>Load to the FPGA fabric</th>
          </tr>
        {% for document in documents %}
              <tr>
                <td>{{document.docfile.name}}</td>
                <td>{{document.timestamp}}</td>
                <td><a href="{% url 'scriptFPGAconf' %}?subjectID={{document.docfile.url}}">Configure FPGA</a></td>
              </tr>
        {% endfor %}
        <tr>
          <td>Bootloader FPGA Configuration</td>
          <td>-</td>
          <td><a href="{% url 'BootloaderFPGAconf' %}">Roll back</a></td>
        </tr>
    </table>
          
      </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}
      <!--Create two push buttons to control the FPGA LED 0-->
      <br>
      <h4>FPGA LED 0 Control </h4>
      <button onclick="location.href='{% url 'scriptLED0N' %}'">LED 0 ON</button>
      <button onclick="location.href='{% url 'scriptLED0F' %}'">LED 0 OFF</button>
      </center>
    </body>
</html>  